:root{
  --body_color:#191919;
  --body_background:#FCFBF4;
  --cards_background:#FCFBF4;
  --shadow_background:rgba(110, 105, 128, 0.42);
  --lines-navbar:#1919195c;
}

[data-theme="dark"]{
  --body_color:#FCFBF4;
  --body_background:#191919;
  --cards_background:#151515;
  --shadow_background:rgb(0, 0, 0);
  --lines-navbar:#ededed33;
}

body{
  color: var(--body_color);
  background-color: var(--body_background);
}

/* styles.css */
.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  transition: top 0.5s;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-alert.show {
  top: 20px;
  animation: FadeOut 15s;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
